<%= form_for(@user, :html => { :class => 'ink-form' } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email %><br>
    <div class="control">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label :password %><br />
    <div class="control">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label :password_confirmation %><br />
    <div class="control">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control-group">
    <div class="control">
      <button class="ink-button ink-button-bar blue" type="submit">Submit</button>
    </div>
  </div>
<% end %>
