<%= form_for(@beer, :html => { :class => 'ink-form' } ) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="control">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image %>
    <div class="control">
      <%= f.file_field :image, accept: "image/jpeg" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :country %>
    <div class="control">
      <%= f.text_field :country %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :alcohol %>
    <div class="control">
      <%= f.text_field :alcohol %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :memo %>
    <div class="control">
      <%= f.text_area :memo %>
    </div>
  </div>

  <div class="control-group">
    <div class="control">
      <button class="ink-button ink-button-bar blue" type="submit">Submit</button>
    </div>
  </div>
<% end %>
