<%= form_for(@beer, :html => { :class => 'ink-form' } ) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="control">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country %>
    <div class="control">
      <%= f.text_field :country %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price %>
    <div class="control">
      <%= f.number_field :price %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sweet %>
    <ul class="star-check column-group">
      <li class="all-20"><label><%= f.radio_button :sweet, 1 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sweet, 2 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sweet, 3 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sweet, 4 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sweet, 5 %></label></li>
    </ul>
  </div>
  <div class="control-group">
    <%= f.label :bitter %>
    <ul class="star-check column-group">
      <li class="all-20"><label><%= f.radio_button :bitter, 1 %></label></li>
      <li class="all-20"><label><%= f.radio_button :bitter, 2 %></label></li>
      <li class="all-20"><label><%= f.radio_button :bitter, 3 %></label></li>
      <li class="all-20"><label><%= f.radio_button :bitter, 4 %></label></li>
      <li class="all-20"><label><%= f.radio_button :bitter, 5 %></label></li>
    </ul>
  </div>
  <div class="control-group">
    <%= f.label :sour %>
    <ul class="star-check column-group">
      <li class="all-20"><label><%= f.radio_button :sour, 1 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sour, 2 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sour, 3 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sour, 4 %></label></li>
      <li class="all-20"><label><%= f.radio_button :sour, 5 %></label></li>
    </ul>
  </div>
  <div class="control-group">
    <%= f.label :smell %>
    <ul class="star-check column-group">
      <li class="all-20"><label><%= f.radio_button :smell, 1 %></label></li>
      <li class="all-20"><label><%= f.radio_button :smell, 2 %></label></li>
      <li class="all-20"><label><%= f.radio_button :smell, 3 %></label></li>
      <li class="all-20"><label><%= f.radio_button :smell, 4 %></label></li>
      <li class="all-20"><label><%= f.radio_button :smell, 5 %></label></li>
    </ul>
  </div>
  <div class="control-group">
    <%= f.label :alcohol %>
    <div class="control">
      <%= f.text_field :alcohol %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :memo %>
    <div class="control">
      <%= f.text_area :memo %>
    </div>
  </div>
  <div class="control-group">
    <div class="control">
      <button class="ink-button ink-button-bar blue" type="submit">Submit</button>
    </div>
  </div>
<% end %>
