<h1>Beers</h1>
<% if current_user %>
<p class="right-btn"><%= link_to 'New Beer', new_beer_path, :class => 'ink-button blue' %></p>
<% end %>

<div class="ink-form">
  <div class="control-group">
    <label for="s">Search</label>
    <div class="control">
      <%= search_field_tag 's' %>
    </div>
  </div>
</div>

<table id="beers" class="ink-table alternating">
  <thead>
    <tr>
      <th></th>
      <th class="align-left">Name /<br>Country</th>
      <th class="align-left meta">Price /<br>Alcohol</th>
      <th class="align-left meta"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td class="image">
          <% if beer.image %>
          <img src="data:image/jpeg;base64,<%= [beer.image].pack('m') %>">
          <% end %>
        </td>
        <td><%= link_to beer.name, beer %><br><%= beer.country %></td>
        <td class="meta">&yen;<%= beer.price %><br><%= beer.alcohol %>%</td>
        <td class="meta"><span class="count"><%= beer.counters.count %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
