<h1>Beers</h1>

<table class="ink-table alternating">
  <thead>
    <tr>
      <th class="align-left">Name</th>
      <th class="align-left">Price</th>
      <th class="align-left">Alcohol</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.price %></td>
        <td><%= beer.alcohol %></td>
        <td><%= link_to 'Show', beer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>
