<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @beer.price %>
</p>

<p>
  <strong>Sweet:</strong>
  <%= @beer.sweet %>
</p>

<p>
  <strong>Bitter:</strong>
  <%= @beer.bitter %>
</p>

<p>
  <strong>Sour:</strong>
  <%= @beer.sour %>
</p>

<p>
  <strong>Smell:</strong>
  <%= @beer.smell %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @beer.alcohol %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @beer.memo %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
