<h1><%= @beer.name %></h1>

<div class="ink-form">
  <div class="column-group">
    <div class="all-33">
      <div class="control-group">
        <label>Country:</label>
        <div class="control control-value">
          <%= @beer.country %>
        </div>
      </div>
    </div>

    <div class="all-33">
      <div class="control-group">
        <label>Price:</label>
        <div class="control control-value">
          &yen;<%= @beer.price %>
        </div>
      </div>
    </div>

    <div class="all-33">
      <div class="control-group">
        <label>Alcohol:</label>
        <div class="control control-value">
          <%= @beer.alcohol %>%
        </div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label>Memo:</label>
    <div class="control control-value-long">
      <%= hbr @beer.memo %>
    </div>
  </div>
</div>

<div class="chart-wrap">
  <canvas id="chart" width="640" height="640"></canvas>
</div>
<script>
var alchol = <%= @beer.alcohol %>;
alchol = Math.round( ( alchol/15 ) * 500 ) / 100;

var data = {
    labels: ["Sweet", "Bitter", "Sour", "Smell", "Alchol"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [<%= @beer.sweet %>, <%= @beer.bitter %>, <%= @beer.sour %>, <%= @beer.smell %>, alchol]
        }
    ]
};
var ctx = document.getElementById("chart").getContext("2d");
var myNewChart = new Chart(ctx).Radar( data, {
  scaleOverride : true,
  scaleSteps : 5,
  scaleStepWidth : 1,
  scaleStartValue : 0
} );
</script>

<%= link_to @beer.counters.count.to_s + ' Drunk', edit_counter_path(@beer), :class=>'ink-button ink-button-bar green' %>
<%= link_to 'Edit', edit_beer_path(@beer), :class=>'ink-button ink-button-bar blue' %>
<%= link_to 'Delete', @beer, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'ink-button ink-button-bar red' %>
<%= link_to 'Back', beers_path, :class=>'ink-button ink-button-bar' %>
